.excess-false {
    background-color: #e8f5e9;
}

.excess-true {
    background-color: #ffebee;
}

.table-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

table {
    border-radius: 10px;
    overflow: hidden; /* This is important for the rounded corners */
}
